@model IEnumerable<BW_ECOMMERCE.Models.CarrelloView>

@{
    ViewData["Title"] = "Carrello";
}

<h1>Carrello</h1>

<table class="table">
    <thead>
        <tr>           
            
            <th>Nome Prodotto</th>

            <th>Prezzo</th>
            
            <th>Quantità</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.NomeProdotto</td>
                <td>@item.Prezzo</td>
                <td>@item.Quatita</td>
                <td>
                    <form asp-action="RimuoviDalCarrello" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Rimuovi" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    <form asp-action="CompraSingolo" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Compra Singolo" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
        <form asp-action="CompraCarrello" method="post" style="display:inline;">
            @foreach (var item in Model)
            {
                <input type="hidden" name="ids" value="@item.Id" />
            }
            <input type="submit" value="Compra Tutto" class="btn btn-danger" />
        </form>
    </tbody>
</table>

<a asp-action="Index" class="btn btn-primary">Continua lo shopping</a>