@model IEnumerable<BW_ECOMMERCE.Models.CarrelloView>

@{
    ViewData["Title"] = "Carrello";
}
<link rel="stylesheet" href="/css/carrello.css" />


<div class="container marg">
    <h1 class="myOlive text-center "> Il Tuo Carrello</h1>
    <table class="table myBg mt-4">
        <thead>
            <tr class="myBgGray">
                <th class="myOlive">Nome Prodotto</th>
                <th class="myOlive">Prezzo</th>
                <th class="myOlive">Quantità</th>
                <th class="myOlive">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="myOlive">@item.NomeProdotto</td>
                    <td class="myOlive">€@item.Prezzo</td>
                    <td class="myOlive">@item.Quatita</td>
                    <td>
                        <form asp-action="RimuoviDalCarrello" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="myBtnDelete">Rimuovi</button>
                        </form>
                        <form asp-action="CompraSingolo" method="post" class="d-inline ms-2">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="myBtnDetail">Compra Singolo</button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-center">
                    <form asp-action="CompraCarrello" method="post" class="d-inline">
                        @foreach (var item in Model)
                        {
                            <input type="hidden" name="ids" value="@item.Id" />
                        }
                        <button type="submit" class="myBtnCart fw-bold">Compra Tutto</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-5">
        <a asp-action="Index" class="myBtnDetail py-3">Continua Lo Shopping</a>
    </div>
</div>