@model IEnumerable<BW_ECOMMERCE.Models.Prodotto>

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/index.css" />


<div class="p-5 row align-items-center justify-content-around" id="start">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-6 myBg">

            <h5 class="myOrange fw-bold">100% Love Food</h5>
            <h1 class=" display-3 myGreen fw-bold">GustaShop</h1>
            <h4 class="myGreen mt-3">Sapori autentici e ingredienti freschi direttamente a casa tua, per un'esperienza culinaria unica ogni giorno</h4>
            </div>
            <div class="col-6">
                <div id="carouselExample" class="carousel slide" >
                    <div class="carousel-inner rounded-2" >
                        <div class="carousel-item active">
                            <img src="https://media-assets.lacucinaitaliana.it/photos/62f13332427334526e447ad8/16:9/w_1920,c_limit/480931380" class="d-block w-100" height="350px" alt="img">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Verdura</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/premium-photo/fruit-background_501761-2549.jpg?w=1380" class="d-block w-100" height="350px" alt="img">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Frutta</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.diet-health.info/images/recipes/1400/weizenkoerner-wheat-grains-by-stockpics-fotolia-78750746.jpg.webp" class="d-block w-100" height="350px" alt="img">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Frumento</h2>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-8 mt-5 text-center myBg">
                <h4 class="text-center myGreen">Rimani aggiornato sulle ultime novità e offerte speciali di GustaShop!</h4>
                <div class="input-group my-4">
                    <input type="text" class="form-control w-25 qnt" placeholder="Inserisci la tua e-mail..." aria-describedby="button-addon2">
                    <button class="myBtnDetail" type="button" id="button-addon2">Iscriviti</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around mt-5">
        <div class="col-3">
            <div class="myBgGray text-center rounded-3 px-3 shadow-sm myBorder">
                <h5 class="myOrange fw-bold mt-3">Spedizione Gratuita</h5>
                <p class="myGray small">Gratis su ordini superiori i €100 </p>
            </div>
        </div>
        <div class="col-3">
            <div class="myBgGray px-3 text-center rounded-3 shadow-sm myBorder">
            <h5 class="myOrange fw-bold mt-3">Pagamenti Sicuri</h5>
            <p class="myGray small">100% pagamenti sicuri</p>
            </div>
        </div>
        <div class="col-3">
            <div class="myBgGray px-3  text-center rounded-3 shadow-sm myBorder">
                <h5 class="myOrange fw-bold mt-3">Reso 30 Giorni</h5>
                <p class="myGray small">Reso garantito entro 30 giorni</p>
            </div>
        </div>
        <div class="col-3">
            <div class="myBgGray px-3  text-center rounded-3 shadow-sm myBorder">
                <h5 class="myOrange fw-bold mt-3">Supporto 24/7</h5>
                <p class="myGray small">Supporto semplice e veloce</p>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="verdura">
    <div class="row myBgGreen justify-content-center align-items-center py-5">
        <div class="col-4">
            <img src="/img/pngwing.com.png" class="img-fluid" alt="Immagine Prodotto">
        </div>
        <div class="col-4">
            <h1 class="text-white fw-bold">Prodotti di Qualità per la Tua Casa</h1>
            <h1 class="myOlive">Scopri la nostra vasta gamma di prodotti per migliorare il comfort e lo stile della tua casa.</h1>
            <p class="myOlive">Ogni articolo è selezionato per garantire la massima qualità e durata nel tempo. Che tu stia cercando un tocco di eleganza o un elemento funzionale, troverai sicuramente ciò che fa per te nel nostro assortimento.</p>
            <button class="myBtnDetail">Esplora</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="myOlive">I Nostri Prodotti</h1>
            <div>
                <button class="myBtn ">Tutti I Prodotti</button>
                <button class="myBtn ">Frutta</button>
                <button class="myBtn ">Verdura</button>
                <button class="myBtn ">Altro</button>

            </div>

        </div>
        <div class="col-12">
            <div class="row mt-4 justify-content-around">
                @foreach (var product in Model)
                {
                    <div class="col-3">
                        <div class="card mb-5 myCard">
                            
                                @if (!string.IsNullOrEmpty(product.ImgProdotto))
                                {
                                <img src="data:image;base64,@product.ImgProdotto" class="img-fluid rounded-top fixed-img" alt="Immagine Prodotto">
                                }
                                else
                                {
                                <img src="/img/placeholder.jpg" class="img-fluid rounded-top fixed-img" alt="Immagine non disponibile">
                                }
                            <div class="fab">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                </svg>
                            </div>
                            
                                <div class="card-body text-center">
                                    <h3 class="text-center myOlive">@product.NomeProdotto</h3>
                                    <h5 class="text-center myOlive mb-3">@product.DescBreve</h5>
                                    <form asp-action="AddToCart" method="post">
                                        <input type="hidden" name="productId" value="@product.IdProdotto" />
                                        <label for="quantity_@product.IdProdotto" class="small myOlive">Quantità:</label>
                                        <div class=" align-items-center mt-1">
                                            <input type="number" id="quantity_@product.IdProdotto" name="quantity" min="1" value="1" class="qnt myOlive" />
                                            <div class="d-flex justify-content-center align-items-center mt-3">
                                                <p class="m-0 fw-bold myOlive myBtn">€@product.Prezzo</p>
                                                <button type="submit" class="myBtnCart fw-bolder ms-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0" />
                                                    </svg>
                                                    Aggiungi
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-center mt-3">
                          

                                        <a asp-action="Dettagli" asp-route-id="@product.IdProdotto" class="myBtnDetail">
                                                Dettagli</a>
                                        
                                        <form asp-action="Delete" method="post">
                                            <input type="hidden" name="id" value="@product.IdProdotto" />


                                        <button type="submit" class="myBtnDelete ms-3">
                                             Elimina
                                        </button>
                                            
                                        </form>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="frutta">
    <div class="row myBgOrange justify-content-center align-items-center py-5">
        <div class="col-4">
            <h1 class="text-white fw-bold">Frutta Fresca Esotica</h1>
            <h1 class="myOlive">nel Nostro Store :)</h1>
            <p class="myOlive">Scopri la nostra selezione di frutta fresca esotica proveniente dai migliori produttori di tutto il mondo. Ogni frutto è scelto con cura per garantirti la massima qualità e freschezza.</p>
            <button class="myBtnPur">Compra Ora</button>
        </div>
        <div class="col-4">
            <img src="https://themewagon.github.io/fruitables/img/baner-1.png" class="img-fluid" alt="Immagine Prodotto">
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-5" id="work">
    <h1 class="text-center my-3">Riconoscimenti</h1>
    <div class="row justify-content-center mt-5 names">
        <div class="col-2">
            <div class="myCardTwo">
                <img src="https://st3.depositphotos.com/6672868/13801/v/450/depositphotos_138013506-stock-illustration-user-profile-group.jpg" class="img-fluid" alt="">
                <h4 class="myOlive mt-3">Alessandro Polioni</h4>
                <small class="myOlive">Epicoder - Team 1</small>
                <button class="myBtnDetail mt-2">Contatta</button>
            </div>
        </div>
        <div class="col-2">
            <div class="myCardTwo">
                <img src="https://st3.depositphotos.com/6672868/13801/v/450/depositphotos_138013506-stock-illustration-user-profile-group.jpg" class="img-fluid" alt="">
                <h4 class="myOlive mt-3">Andrea Ciraldo</h4>
                <small class="myOlive">Epicoder - Team 1</small>
                <button class="myBtnDetail mt-2">Contatta</button>
            </div>
        </div>
        <div class="col-2">
            <div class="myCardTwo">
                <img src="https://st3.depositphotos.com/6672868/13801/v/450/depositphotos_138013506-stock-illustration-user-profile-group.jpg" class="img-fluid" alt="">
                <h4 class="myOlive mt-3">Giampaolo Paladino</h4>
                <small class="myOlive">Epicoder - Team 1</small>
                <button class="myBtnDetail mt-2">Contatta</button>
            </div>
        </div>
        <div class="col-2">
            <div class="myCardTwo">
                <img src="https://st3.depositphotos.com/6672868/13801/v/450/depositphotos_138013506-stock-illustration-user-profile-group.jpg" class="img-fluid" alt="">
                <h4 class="myOlive mt-3">Morgan Grande</h4>
                <small class="myOlive">Epicoder - Team 1</small>
                <button class="myBtnDetail mt-2">Contatta</button>
            </div>
        </div>
        <div class="col-2">
            <div class="myCardTwo">
                <img src="https://st3.depositphotos.com/6672868/13801/v/450/depositphotos_138013506-stock-illustration-user-profile-group.jpg" class="img-fluid" alt="">
                <h4 class="myOlive mt-3">Nicolò Scivittaro</h4>
                <small class="myOlive">Epicoder - Team 1</small>
                <button class="myBtnDetail mt-2">Contatta</button>
            </div>
        </div>
    </div>
</div>
<div class="myFixed">
    <a href="" class="button scrollTop">
        <div class="buttonDiv myBgOrange">
            Ritorna su!
        </div>
    </a>
</div>
<script src="/js/index.js" asp-append-version="true"></script>